.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    list-style: none;
}

.min_height {
    
    height: 75vh;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}